/* VALORI GENERICI */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.page-wrapper{
  height: 100vh;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/* /VALORI GENERICI */

/* MAIN VALORI GENERICI*/
main{
  height: calc(100% - 70px);
}

main ul{
  list-style: none;
}

/* ASIDE */
aside{
  background-color: black;
  position: fixed;
  height: calc(100% - 70px);
  width: 200px;
  padding: 15px;
  color: #b3b3b3;
  font-weight: bold;
  z-index: 10;
}

aside .spotify-logo{
  width: 130px;
  padding-bottom: 25px;
  cursor: pointer;
}

aside li{
  padding-bottom: 10px;
  cursor: pointer;
  font-size: 12px;
}

aside li:hover{
  color: white;
}

aside h4{
  font-weight: bold;
  color: white;
  font-size: 15px;
}

.aside-top{
  padding-bottom: 20px;
}

aside img{
  width: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

.aside-center{
  height: calc(100% - 240px);
  overflow: hidden;
  overflow-y: auto;
}
.aside-center .aside-btn{
  height: 26px;
  width: 26px;
  background-color: #b3b3b3;
  font-size: 20px;
  font-weight: bold;
  border: none;
  margin: 10px 10px 10px 0;
  cursor: pointer;
  vertical-align: middle;
}

.aside-btn:hover{
  background-color: white;
}

aside span{
  cursor: pointer;
  font-size: 13px;
}

.aside-bottom{
  margin-top: 10px;
}
.aside-bottom .fa-info-circle{
  font-size: 10px;
}

.aside-bottom a{
  text-decoration: none;
  color: #b3b3b3;
  padding-bottom: 15px;
  font-size: 12px;
  padding-left: 8px;
}

.aside-bottom a:hover{
  color: white;
}

.aside-bottom .fa-user-circle{
  font: 20px;
}

.aside-bottom span{
  color: white;
  font-weight: bold;
  padding-left: 8px;
}

.aside-bottom hr{
  margin: 10px 0 10px 0;
}

.spotify-logo-small{
  padding-bottom: 15px;
}

@media screen and (max-width: 768px){
  aside{
    width: 50px;
  }
  .spotify-logo{
    display: none;
  }
  .aside-top{
    height: calc(100% - 90px);
  }
  .aside-top span{
    display: none;
  }
  .aside-center{
    display: none;
  }
  .aside-bottom span{
    display: none;
  }
  .aside-bottom hr{
    display: none;
  }

  .aside-bottom i{
    padding: 0 0 10px 5px;
  }
}

@media screen and (min-width: 768px){
  .spotify-logo-small{
    display: none;
  }
}
/* /ASIDE */

/* UPGRADE-BAR */
.upgrade{
   position: fixed;
   top: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.6);
   width: calc(100% - 200px);
   height: 70px;
   z-index: 1;
}

.upgrade-btn{
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  background-color: #080B12;
  font-size: 10px;
  padding: 12px 30px 12px 30px;
  float: right;
  margin: 15px 30px;
  cursor: pointer;
}

.upgrade-btn:hover{
  background-color: #ADFF2F;
  color: black;
  font-weight: bold;
  border: none;
}
/* /UPGRADE-BAR */

/* MAIN CONTENT VALORI GENERICI*/
.main-content{
  background-color: #141922;
  height: 100%;
  width: calc(100% - 200px);
  float: right;
  overflow: auto;
  padding: 20px;
}

.main-content img{
  width: 170px;
  cursor: pointer;
}

.main-content h3{
  color: white;
  font-weight: bolder;
  padding: 15px 0 5px 0;
  font-size: 22px;
  margin-top: 15px;
}

.main-content h5{
  font-weight: bolder;
  color: white;
  padding: 8px;
  font-size: 12px;
  cursor: pointer;
}

.main-content p{
  color: #b3b3b3;
  font-size: 10px;
  padding-bottom: 15px;
}

.main-content li{
  display: inline-block;
  width: calc((100% / 6) - 5px);
  text-align: center;
  vertical-align: top;
}

@media screen and (max-width: 768px){
  .main-content{
    width: calc(100% - 49px);
  }
  .upgrade{
    width: calc(100% - 49px);
  }
}

/* TOP-MENU */
.top-menu{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}

.top-menu li{
  display: inline-block;
  padding: 0 13px 15px 13px;
  cursor: pointer;
  font-size: 12px;
  color: #b3b3b3;
  font-weight: bold;
  width: auto;
}

.top-menu li:hover{
  color: white;
  border-bottom: 1px solid #ADFF2F;
  padding-bottom: 5px;
}
/* /TOP-MENU */

/* SECTIONS */
.img-box{
  position: relative;
}

.overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.img-box:hover .overlay{
  display: block;
  cursor: pointer;
}

.overlay i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #b3b3b3;
}

.first-section h3{
  padding: 20px 0 20px 0;
}

.third-section img{
  border-radius: 50%;
}

@media screen and (min-width: 992px) and (max-width: 1200px){
  .main-content img{
    width: 170px;
  }
  .main-content li{
    width: calc((100% / 4) - 5px);
  }
}

@media screen and (max-width: 992px){
  .main-content img{
    width: 180px;
  }
  .main-content li{
    width: calc((100% / 2) - 5px);
  }
}
/* /SECTIONS */
/* /MAIN CONTENT */
/* /MAIN */

/* FOOTER */
footer{
  background-color: #282828;
  position: fixed;
  height: 70px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center ;
}

footer img{
  width: 40px;
  vertical-align: middle;
  margin: 0 8px 0 10px;
}

footer h6{
  font-weight: bold;
  color: white;
  font-size: 11px;
}

footer p{
  color: #b3b3b3;
  font-size: 10px;
}

.footer-left{
  width: calc(100% / 4);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  vertical-align: middle;
}

.footer-left .icons{
  color: #535353;
  font-size: 15px;
}

.footer-center{
  width: calc(100% / 2);
  float: left;
  text-align: center;
}

.footer-center .icons{
  color: white;
  font-size: 20px;
  padding-top: 8px;
  cursor: pointer;
}

.footer-center .icons-sm{
  color: white;
  font-size: 15px;
}

.footer-center i{
  padding-left: 15px;
}

.footer-right{
  width: calc(100% / 4);
  float: left;
  display: flex;
}

.footer-right .icons{
  color: #b3b3b3;
  font-size: 15px;
  line-height: 70px;
}
/* /FOOTER */
