*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-wrapper{
  height: 100vh;
}

main{
  height: calc(100% - 90px);
}

.main-content{
  background-color: lightblue;
  height: 100%;
  width: calc(100% - 200px);
  margin-left: 200px;
}

aside{
  background-color: black;
  position: fixed;
  height: calc(100% - 90px);
  width: 200px;
}

footer{
  background-color: grey;
  position: fixed;
  height: 90px;
}
